<!-- Modal -->
<div class="modal fade text-center" id="postsignupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content px-md-3 pb-md-5 px-3 pb-5 text-center">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body text-center px-5 pb-md-5">
        <div class="container text-center">

        <h1 class="h1 my-md-5 my-4"> Welcome to Baller Box <%= firstname %> !</h1>
        <p class="text-secondary">Thank you for filling up our latest roster spot!</p>
        <p class="text-secondary">We hope to impact your love of the game, irrespective of whether you subscribe or not!</p>
        <p class="small sub">The Ballerbox team</p>
        </div>
      </div>
      <div class="container pt-0 pb-md-4">
         <a href="/account" class="btn btn-secondary btn-lg bg-orange"> My Account</a>

      </div>
    </div>
  </div>
</div>
