<%-include("partials/header")-%>
<%- include("modals/modal-signin.ejs"); -%>
<%- include("modals/modal-signup.ejs"); -%>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

<div class="container py-5 pb-md-1 pt-5 mt-5" data-aos="fade-up" data-aos-duration="1000">
  <h1 class="text-dark" style:"font-size:6em">Who are <span class="sub"> We?</span></h1>
  </div>


  <div class=" container-fluid  py-md-5">
    <div class="container bg-light  py-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="row px-md-5 px-2 py-3 py-md-5">
        <div class="col text-justify px-md-5 py-md-3 px-5 col-12" >
              <h5 class="card-text">We are a subscription service that provides high curated and meticously
              picked basketball items. We provide anything from magazines, to accessories, tops and collectibles. We offer vintage and modern pieces</h5>
        </div>
        </div>
        </div>
        </div>
<!-- How it Works Section -->
<div class="container mt-md-5 py-5 my-5 my-md-1 py-md-1" data-aos="fade-up" data-aos-duration="1000">
  <h1 class="text-dark" style:"font-size:6em">How it <span class="sub"> Works</span></h1>
  </div>

<div class=" container-fluid  px-md-5  py-md-5" data-aos="fade-up" data-aos-duration="1000">
  <div class="container bg-light px-md-5  py-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="row px-md-5">
      <div class="col px-md-5 text-justify px-5 py-3 py-md-5 col-12">
        <h2 class="h1">Pick your Plan 🏀</h2>
            <p class="card-text mt-5 text-dark px-md-5">We currently offer 2 tier subscriptions. The All Star and GOAT Plan.
            They both come with the base package of an accessory, a poster and a mystery item. However,
          our GOAT plans also adds a top item and an additional poster. You can not go wrong with either!</p>
      </div>
      </div>
      </div>
      </div>

      <div class="container-fluid text-justify  px-md-5 py-md-4">
        <div class="container px-md-5 py-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="row px-md-5">
      <div class="col text-justify px-5 py-md-1 py-5 col-12">
        <h2 class="h1">Customize 📏</h2>
            <p class="card-text text-dark px-md-5 mt-5  ">You have the option to customize your baller profile to receive items that are better tailored.
            You pick your sizes, favorite teams and players, and we will configure a product profile to ensure your highest satisfaction.
          You can also choose not to for a totally random experience</p>
      </div>
    </div>
    </div>
</div>

<div class=" container-fluid px-md-5  mb-5  py-md-5">
<div class="container bg-light  px-md-5 mb-5 py-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="row px-md-5">
      <div class="col text-justify p-5 col-12">
        <h2 class="h1">Sit Back & Relax 🛋</h2>
            <p class="card-text text-dark px-md-5 mt-5">Sit back and relax and wait for your monthly delivery of basketball goods! We will deal with everything else. Look
            forward for shipping updates and dont hesitate to contact us if any questions arise.</p>
      </div>
    </div>

    </div>
  </div>

<hr>
  <!-- How it Works Section -->
  <div class="container pt-5 mt-5" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="text-dark py-5" style:"font-size:6em">Interested? <span class="sub"> Check out our Subscriptions</span></h1>
    <a href="/products" class="btn btn-lg btn-secondary px-5 ">Subscriptions</a>
    </div>
<!-- </div> -->


<div class="container-fluid mx-0 py-5 my-5 px-0">
</div>

<%- include("partials/footer.ejs"); -%>
