html, body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.table, thead, tr, th {
  table-layout: fixed;
  width: 100%;
}

.container {
  max-width: 960px;
  text-align: center;
  left: 15%;
}

.container-fluid {
  text-align: center;
}

.intro {
  padding-left: 30%;
}

.o {
  margin-left: 30%;
}

.h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #5A6268;
}

.westbrook {
  max-width: 100%;
}

.orange {
  color: #8c2700;
  background-color: #F8D2C2;
}

.bg-orange {
  background-color: #cf643c;
}

nav {
  background-color: white;
}

#navbarSupportedContent a {
  color: #5A6268;
  transition: ease-in-out color .15s;
}

#navbarSupportedContent a:hover, #sign-in-btn:hover {
  color: #cf643c;
  text-decoration: none;
}

#sign-in-btn:hover {
  color: #white;
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.8em;
  color: black;
  line-height: 1.3;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
}

p {
  color: black;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background: #cf643c !important;
}

#sock {
  width: 50%;
}

.sub {
  color: #cf643c !important;
}

span {
  color: #cf643c;
  font-weight: 500;
}

#space-jam {
  width: 120%;
  height: auto;
}

.how p {
  font-size: 0.9em;
}

.how {
  background-image: url("/images/space-jam multi colored.webp");
  background-repeat: no-repeat;
  background-position: 8% 65%;
  background-size: 27%;
  font-family: "Raleway", sans-serif;
}

.carousel-item img {
  width: 40%
}

.carousel-inner>.item>img {
  margin: 0 auto;
}

.carousel {
  position: relative;
  height: 600px;
}

.carousel-inner {
  height: 100%;
}

.iconify {
  color: #cf643c;
  font-size: 2em;
}

#brand {
  font-family: "Anton", sans-serif;
  color: #cf643c;
  font-size: 1em;
}

.product-img {
  width: 65%;
}

select {
  font-size: 0.8em;
}

.modal, .modal-footer p {
  text-align: center;
}

.modal-title {
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: #5A6268;
  font-size: 1em;
}

.products .card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.products .card:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.products a:hover {
  text-decoration: none;
}

.form-check>p, a, div {
  color: grey;
}

.privacy-policy p, a {
  color: grey;
}

.privacy-policy>a {
  text-decoration: underline;
}

.checkout {
  font-family: "Montserrat", sans-serif;
}

.desktop-gone {
  display: none;
}

.mobile-checkout {
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  bottom: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  z-index: 1;
  width: 100%;
  /* Full width */
}

.grey {
  color: grey;
}

/*
 * Extra utilities
 */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

input[type="radio"] {
  visibility: hidden;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

/* SM styling */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .container {
    width: inherit;
  }

  .nav-acc {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .westbrook {
    display: none;
  }

  .product-img {
    width: 45%;
  }

  .desktop-gone {
    display: inline-block;
  }
}

@media (max-width: 986px) {
  .mobile-gone {
    display: none;
  }

  .sign-in, #brand {
    visibility: hidden;
  }

  .btn-blockk {
    display: block;
    width: 100%;
  }

  .nav-acc {
    display: none;
    visibility: hidden;
  }

  .bars {
    color: black;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
    color: #343a40;
  }

  .button {
    width: 100%;
    display: block;
  }

  .how {
    background-image: none;
  }

  .container {
    left: 0;
  }

  .carousel {
    position: relative;
    height: 250px;
  }

  .iconify {
    font-size: 1.5em;
  }
}

.overflow-hidden {
  overflow: hidden;
}
