<%-include("../partials/header")-%>
<%- include("../modals/modal-signin.ejs"); -%>
<%- include("../modals/modal-signup.ejs"); -%>

<div class="container my-md-5 my-2 p-5 text-justify">
  <h1 class="h1">Cancellation Policy</h1>
  <hr>
  <div class="row my-md-5">
    <div class="col">
      <h5 class="my-5">As a monthly subscriber, we will continue to charge your credit card and ship your baller box every month until you cancel your subscription. You can cancel your subscription anytime you wish through any of the options below:
      </h5>
      <p class="text-secondary">
        You can send us an email at info@BallerBox.com with your intention to cancel your subscription. To help us process by email, please include your registered email address and order number so we can easily locate the correct subscription.
        <br><br><br>
        Please note: We must receive your cancellation email 48 hours before subscription renewal in order to cancel your subscription prior to your next renewal. If we receive your cancellation email less than 48 hours before your renewal, you will
        be charged for the following month and we will cancel your subscription the next month.
        <br><br><br>
        We always want to give our customers the best experience with BallerBox during their subscription. If you have any additional questions or concerns, do not hesitate to reach out and we’ll be happy to help. </p>
    </div>
  </div>

</div>

<%- include("../partials/footer.ejs"); -%>
