<%-include("../partials/header")-%>
<%- include("../modals/modal-signin.ejs"); -%>
<%- include("../modals/modal-signup.ejs"); -%>


<div class="container my-md-5 my-2 p-5 text-justify">
  <h1 class="h1">Privacy Policy</h1>
  <hr>
  <div class="row my-md-5">
    <div class="col">
      <h3 class="my-5">What information does Baller Box collect?</h3>
      <p class="text-secondary">
        We receive and occasionally store information you provide on our website. You may opt-out to provide certain personal information at any time. We use your information to respond to information requests, to provide you with the products or
        services you requested, to provide you with a personal shopping experience, and to communicate with you. Baller Box is the owner of all information collected on this site and will never share with any third party.
        We do not sell or rent any of our customers’ personal information to any unrelated third party. Unless expressly provided in this policy, we will not share your personal details with any other entity or third-party unless it relates to
        providing you with the information, products or services you requested from us or otherwise to provide you with a better shopping experience.
        Our website uses web forms through which you may provide us with information, such as your name, addresses, e-mail addresses, phone numbers, birthday and pertinent financial information. Baller Box collects this information and will use this
        information to provide the products, materials or services you request, and to send you promotional and news oriented information.
        We collect demographic and profile data. We use this data to enhance your shopping experiences at BallerBox.com. We will also use this data to provide you with information which we believe you may have interest in, and to display website
        content according to what we determine you will prefer</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <h3 class="my-5">Cookies</h3>
      <p class="text-secondary">As you browse BallerBox, advertising cookies will be placed on your computer so that we can understand what you are interested in. Our display advertising partner, AdRoll, then enables us to present you with
        retargeting advertising on other sites based on your previous interaction with Baller Box.
        The techniques our partners employ do not collect personal information such as your name, email address, postal address or telephone number. You can http://www.adroll.com/about/privacy to opt out of AdRoll and their partners’ targeted
        advertising.
        Third-Party Advertising Partners We use third-party service providers to serve advertisements (banners or links) on our behalf across the Internet. These advertising service providers may collect non-identifiable information about your visits
        to our website, and your interactions with our products and services. Such non-identifiable information does not include your name, address, e-mail address or other personal information. The information is collected through the use of cookies
        and pixel tags (also known as action tags), which is industry-standard technology used by most major websites.
        In addition to the information about your visits to our website, our service providers may also use the information about your visits to other websites to target advertisements for products and services available from Baller Box.</p>
    </div>
  </div>


  <div class="row my-5">
    <div class="col">
      <h3 class="my-5">How secure is my personal information?</h3>
      <p class="text-secondary">BallerBox.com incorporates physical, electronic, and administrative procedures to safeguard the confidentiality of your personal information, including Secure Sockets Layer (“SSL”) for all financial transactions
        through this Site. We use SSL encryption to protect your personal information online, and we also take several steps to protect your personal information in our facilities. Access to your personal information is restricted. Only employees who
        need access to your personal information to perform a specific job are granted access to your personal information. Finally, we rely on third-party service providers for the physical security of some of our computer hardware. We believe that
        their security procedures are adequate. For example, when you visit our Site, you access servers that are kept in a secure physical environment, behind a locked cage and an electronic firewall. While we use industry-standard precautions to
        safeguard your personal information, we cannot guarantee complete security. 100% complete security does not presently exist anywhere online or offline.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <h3 class="my-5">Legal Notices</h3>
      <p class="text-secondary">Under no circumstances shall BallerBox be liable for any indirect, special, incidental or consequential damages of any kind, regardless of the form of action, whether in contract, tort (including negligence), strict
        product liability or otherwise, even if we have been advised of the possibility of such damages. If you have any questions, please do not hesitate to contact one of our consultants at info@BallerBox.com.</p>
    </div>
  </div>


</div>

<%- include("../partials/footer.ejs"); -%>
