<%-include("../partials/header")-%>
<%- include("../modals/modal-signin.ejs"); -%>
<%- include("../modals/modal-signup.ejs"); -%>

<div class="container my-md-5 my-2 p-5 text-justify">
  <h1 class="h1">Shipping</h1>
  <hr>
  <div class="row my-md-5">
    <div class="col">
      <h3 class="my-5">Shipping is FREE worldwide!</h3>
      <p class="text-secondary">
        Your first month is processed within one business day. Subscriptions shipping to the United States usually take 7-10 business days to arrive from the ship date. International orders may take up to 3 weeks to arrive. For each month after, you
        can expect your baller box to arrive at roughly the same time every month. International delivery times vary, but usually take 3-4 weeks for your first pair top arrive due to many variables out of our control. Additionally, to get the
        international shipping cost down so low we are unable to provide tracking information. But if you are having trouble with your shipment, don’t hesitate to get in touch at info@BallerBox.com
        <strong>PLEASE NOTE: Our shipping deadline is the 20th of each month. If your order is processed after that, your subscription will roll over and begin the following month.</strong>
        As soon as your order ships, you will be provided with a tracking number via email. </p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <h3 class="my-5">Returns and Exchanges</h3>
      <p class="text-secondary">Baller Box strives to provide an amazing shopping experience and superior customer service. If for any reason you are not content with your order, we gladly accept returns and exchanges for all orders within 30 days
        from the date of shipment and in new, unused condition with original packaging. You will responsible for all return and exchange shipping costs.
        Accessories must be returned with all pieces included and intact, and apparel must also be returned unworn, with all tags still attached.
        Baller Box offers and easy exchange options: Simply ship your unused baller box back to our warehouse, located at 670 Memorial Dr SE STE B, Atlanta Georgia 30312, and upon arrival we will reship your baller box. You will be responsible for
        the cost of shipping your original box back to our warehouse.
      </p>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs"); -%>
