<%-include("../partials/header")-%>
<%- include("../modals/modal-signin.ejs"); -%>
<%- include("../modals/modal-signup.ejs"); -%>


<div class="container my-md-5 my-2 p-5 text-justify">
  <h1 class="h1">Terms and Conditions</h1>
  <hr>
  <div class="row my-md-5">
    <div class="col">
      <h3 class="my-5">Baller Box terms of service, use and purchase</h3>
      <p class="text-secondary">
        Welcome to Baller Box! This website located at www.BallerBox.com (this “Site”) is owned and operated by Baller Box, LLC,. Baller Box provides website features and other products and services to you when you visit, shop or purchase items from
        this Site, access this Site from your mobile devices, or use software provided by Baller Box in connection with any of the foregoing (collectively, “Baller Box Services”). Baller Box provides its products and services subject to these Terms
        of Service.
      </p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <h5 class="my-5">By using the Baller Box Services, you agree to these conditions. Please ready them carefully.</h5>
      <p class="text-secondary">By accessing or using this Site, mobile application or other Baller Box product or service on any computer, mobile phone, tablet, console or other device (collectively, “Device”), you acknowledge and agree that you
        have read, understand and agree to be bound by these Terms of Service and any other applicable law, whether or not you are a registered member of Baller Box. You must be at least 18 years old to use this Site or Services. Baller Box may
        change these Terms of Service at any time without notice. When we make changes, we will post them here. Your continued use of the Baller Box Services or enrollment as a Baller Box Member shall be considered your acceptance to the revised
        Terms of Service. If you do not agree to these Terms of Service, please do not use this Site or any Baller Box Services and immediately cancel your Baller Box Membership by calling one of our customer service representatives at 470-440-3591,
        emailing us at info@BallerBox.com or simply by visiting your account page at www.BallerBox.com/my-account.
      </p>
    </div>
  </div>


  <div class="row my-5">
    <div class="col">
      <h3 class="my-5">Electronic communications</h3>
      <p class="text-secondary">When you use any Baller Box Service, or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by
        posting notices on this Site or through the other Baller Box Services. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications
        be in writing.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <h3 class="my-5">Account confidentiality and access</h3>
      <p class="text-secondary">You are solely responsible for maintaining the confidentiality of your Account, all activities occurring under your Account and all access to and use of the Baller Box Services by anyone using your Account, whether or
        not such activities and access are actually authorized by you, including but not limited to all communications, transactions and obligations. You agree to accept responsibility for all activities that occur under your account and password.
        Baller Box shall not be liable or responsible for any loss or damage arising from any unauthorized use, access or any other breach of security of your Account, including but not limited to your member sign-in password and email address. You
        acknowledge and accept that your use of the Baller Box Services is in compliance with these Terms of Service. You further acknowledge and accept that Baller Box shall have no obligation to investigate the authorization or source of any
        Account activity, including purchase activity following a proper log-in to this Site or any Services, which is defined as a matching and current member sign-in and user password. You shall notify Baller Box immediately of any unauthorized
        access to your Account or any other unauthorized use of any Baller Box Services.



        You agree that Baller Box may, without prior notice, immediately terminate, limit your access to or suspend your Account based on any of the following: (a) breach or violation of these Terms of Service; (b) upon request by law enforcement;
        (c) unforeseeable technical or security issues or problems; (d) extended periods of inactivity; or (e) fraudulent, deceptive or illegal activity, or any other activity which Baller Box believes is harmful to its business interests; or (f) for
        no reason. You agree that any termination, limitation of access and/or suspension shall be made in the Baller Box’s sole discretion and that Baller Box shall not be liable to you or any third party for the termination, limitation of access
        and/or suspension of your Account.

      </p>
    </div>
  </div>





</div>

<%- include("../partials/footer.ejs"); -%>
